<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'  type='text/css'>

</head>
<body class="sfondo">
    <div class="datiPers">
<h1>Contattaci </h1>    
	
		<p class="pers">Siamo tre studenti della facoltà di Ingegneria Informatica alla Sapienza: Viviana Silvestre, Flavio
Massimo Falesiedi, Matteo Monteverde.  </p>
<p class="pers">Prima di contattarci abbi cura di aver letto bene la sezione <a href=faq class=modPers> FAQ</a>, qualora non avessi trovato risposta
ai tuoi dubbi o volessi altro tipo di informazioni contattaci ai seguenti indirizzi: </p>
										<p class="modPers" > CarAdvisorz@gmail.com </p>
										<p class="pers">
										 <br/><br/>
										
										oppure sulle nostre personali email con oggetto della mail "CarAdvisor":  <br/><br/>
										</p>
										<p class="modPers" > visilve@yahoo.it
										</p>
										<p class="modPers" > falesiedi.1595746@studenti.uniroma1.it
										</p>
										<p class="modPers" > mail matteo
										</p>
	
</div>
</body>
</html>
