<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'  type='text/css'>

</head>
<body class="sfondo">
    <div class="datiPers">
<h1>Come contattarci </h1>    
	
		<p class="pers"> Questa pagina ha lo scopo di fornire le informazioni per contattare gli amministratori. <br/><br/>
										E' possibile inviare una mail all'indirizzo  </p>
										<p class="modPers" > CarAdvisorOfficial@gmail.com </p>
										<p class="pers">
										specificando l'argomento della mail  &emsp; (ad esempio: bug riscontrati, malfunzionamento generale )  <br/><br/>
										
										oppure chiamarci al numero  <br/><br/>
										</p>
										<p class="modPers" > 800-aspetta-che-ti-rispondo
										</p>
	
</div>
</body>
</html>
