<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'  type='text/css'>

</head>
<body class="sfondo">
    <div class="datiPers">
<h1> Faq </h1>    
			<p class="pers"> <strong> -Chi siamo? </strong></p>
		<p class="pers">Siamo tre studenti della facoltà di Ingegneria Informatica alla Sapienza: Viviana Silvestre, Flavio
Massimo Falesiedi, Matteo Monteverde.  </p>
<p class="pers"> <strong> -Qual è il nostro obiettivo? </strong></p>
<p class="pers"> Il nostro obiettivo è semplificare le operazioni che effettuiamo tutti i giorni sulle nostre auto, come
ad esempio contattare il nostro meccanico di fiducia, tenere a mente tutte le scadenze delle nostre
assicurazioni o addirittura vedere statistiche quali i kilometri medi percorsi. Il tutto
contemporaneamente su quanti veicoli vuoi!</p>
<p class="pers"> <strong> -Come funziona il sito? </strong></p>
<p class="pers">Registrarsi sul sito è semplice ed intuitivo, così come l'aggiunta dei vari autoveicoli. E' possibile
inserire i dati del veicolo al momento dell'aggiunta dello stesso, essi saranno necessari al fine di
poter ricevere maggior assistenza dal proprio meccanico in maniera molto semplice senza dover
tenere sempre a portata di mano tutti i dati dell'auto. La comoda parte dedicata alla messaggistica
aiuterà la comunicazione con il meccanico prescelto, il quale riceverà in tempo reale i messaggi a
lui inviati e risponderà non appena possibile per fissare un appuntamento alla propria officina per
risolvere quanto prima tutte le necessità dell'utente. </p>
<p class="pers"> <strong> -Posso scegliere quali notifiche ricevere? </strong></p>
<p class="pers"> Stai tranquillo, non riceverai notifiche inutili, ma solo utili reminder riguardanti unicamente i tuoi
veicoli e le attività che devono essere praticate su di essi.</p>
<p class="pers"> <strong> -Perchè non riesco a rispondere al mio meccanico? </strong></p>
<p class="pers">Controlla la tua connessione o eventualmente contatta gli amministratori tramite l'apposita sezione
"Contattaci". </p>
<p class="pers"> <strong> -Come reimpostare la password? </strong></p>
<p class="pers">Puoi reimpostare in maniera semplice la password cliccando su Utente->Modifica Dati. </p>
<p class="pers"> <strong> -Il meccanico non risponde, come posso fare? </strong></p>
<p class="pers"> Il meccanico può non rispondere subito poiché impegnato nel suo lavoro. Se hai un'urgenza
contattalo telefonicamente tramite le "Informazioni Officina" che trovi nel profilo del
meccanico.</p>
<p class="pers"> <strong> -Le mie informazioni personali saranno visibili da tutti? </strong></p>
<p class="pers">No, tuteleremo la tua privacy il più possibile, solo il meccanico potrà accedere alle informazioni del
tuo veicolo in modo da poterti aiutare nella risoluzione dei problemi. Nessun utente potrà accedere
alle tue informazioni personali. </p>
<p class="pers">Per qualsiasi altra informazione, sentiti libero di contattarci attraverso le info che trovi nella sezione
apposita <a href=contattaci class=modPers> Contattaci</a>. </p>
</div>
</body>
</html>
