<head>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'  type='text/css'>
</head>
<div class="registrazione">
<h1>Modifica Dati</h1>


<%= render 'form', user: @user %>

<%= link_to 'Show', @user %>
</div>
