@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

select {
    width: 180px;
    border: 1px solid;
    border-radius: 4px; 
    background-color:#FFF;
}
h1 {
  word-spacing: 5px;
  color: #000000;
  font-weight: bold;
  padding-top: 1px;
  text-align: center;
  line-height: 150%;
  font-family: 'Raleway', sans-serif;
}
a {
  font-weight: bold;
  line-height: 150%;
  font-family: 'Raleway', sans-serif;
}

.registrazione{
  padding-top: 20px;
  padding-bottom: 450px;
  background-color: #FFF;
  padding-top: 40px;
  text-align: center;
  line-height: 150%;
  font-family: 'Raleway', sans-serif;
} 


#logo{
    color: #FFF;
    font-size: 30px;
    margin-bottom: 10px;
}
#minilogo{
    color: #FFF;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 33px;
}

#logologin{
    color: #FFF;
    font-size: 15px;
    
}

#logologin:hover{
	color: #4287CA;
}




login {
  font-family: 'Raleway', sans-serif;
  padding-top: 90px;
  text-align: center;
  line-height: 100%;
  margin-bottom: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.datiPers{
  padding-top: 20px;
  padding-bottom: 450px;
  background-color: #FFF;
  padding-top: 40px;
  text-align: left;
  line-height: 150%;
  font-family: 'Raleway', sans-serif;
} 

.pers {
   font-size: 20px;
   font-family: 'Raleway', sans-serif;
}

.modPers {
   font-size: 20px;
   font-family: 'Raleway', sans-serif;
}
.modPersXS:hover {
   
   color:#4287CA;
   background-color:#FFF;
}
.modPers:hover{
   color:#4287CA;
   background-color:#FFF;


}
.piccolo{
	font-size: 15px;
font-family: 'Raleway', sans-serif;
}
.sfondo {  background: url('/assets/sfondocar.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
                           
}
.alert-success{ 
padding-top: 20px; 
padding-bottom: 40px; 
vertical-align: center; 
background-color: #80FF80; 
font-family: 'Raleway', sans-serif; 
text-align: center; 
font-size: medium; 
}

.alert-danger{ 
padding-top: 20px; 
padding-bottom: 40px; 
vertical-align: center; 
background-color: #FF9F9F;
font-family: 'Raleway', sans-serif;
text-align: center;
font-size: medium;
}
.alert-info{ 
padding-top: 20px; 
padding-bottom: 40px; 
vertical-align: center; 
background-color: #FFDEAD;
font-family: 'Raleway', sans-serif;
text-align: center;
font-size: medium;
}
.closebtn{
 margin-left: 15px;
 color: #000000;
 font-weight: bold;
 #float: right;
 font-size: 22px;
 line-height: 20px;
 cursor: pointer;
 transition: 0.3s;
 position:relative;
 top:0;
 right:0;
 }
