@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

select {
    width: 180px;
    border: 1px solid;
    border-radius: 4px;
}
h1 {
  word-spacing: 5px;
  color: #000000;
  font-weight: bold;
  padding-top: 1px;
  text-align: center;
  line-height: 150%;
  font-family: 'Raleway', sans-serif;
}
a {
  
  font-weight: bold;
  line-height: 150%;
  font-family: 'Raleway', sans-serif;
}

.registrazione{
  padding-top: 20px;
  padding-bottom: 820px;
  background-color: #FFF;
  padding-top: 40px;
  text-align: center;
  line-height: 150%;
  font-family: 'Raleway', sans-serif;
} 


#logo{
    color: #FFF;
    font-size: 30px;
    margin-bottom: 10px;
}
#minilogo{
    color: #FFF;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 33px;
}



login {
  font-family: 'Raleway', sans-serif;
  padding-top: 90px;
  text-align: center;
  line-height: 100%;
  margin-bottom: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
